# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Hack for LA Wiki Sandbox
theme:
  name: material
  custom_dir: overrides
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    #- content.tabs.link
    - content.tooltips
    #- header.autohide
    #- navigation.expand
    - navigation.footer
    - navigation.indexes
    #- navigation.instant
    - navigation.sections
    - navigation.tabs
    #- navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascript/tablesort.js

repo_url: https://github.com/vraer/website-wiki-sandbox/
repo_name: vraer/website-wiki-sandbox/
edit_uri: edit/main/docs/
site_url: https://vraer.github.io/website-wiki-sandbox/

# Plugins
plugins:
  - awesome-pages:
      filename: .pages
      collapse_single_pages: false
      strict: false
  - tags:
      tags_file: tags.md
  - minify:
      minify_html: true
  - search: {}

hooks:
  - hooks/generate_tagged_pages.py
  - hooks/generate_page_table.py

# Extensions
markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      title: On this page
      permalink: "#"

  # Python Markdown Extensions
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      hide_protocol: false
      normalize_issue_symbols: false
      user: hackforla
      provider: github
      repo: website
      repo_url_shorthand: true
      repo_url_shortener: false
      social_url_shorthand: false
      social_url_shortener: false
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde